# ***CRUD python + mySQL***

* Create
* Read
* Update
* Delete

Video intalação mySQL
https://www.youtube.com/watch?v=UJ3ljw5uuEM&t=0s

# ***Comando de CRUD***
Essa tabela inclui alguns dos comandos SQL mais básicos, mas há muitos outros comandos e cláusulas disponíveis para realizar operações mais avançadas em bancos de dados relacionais.
`exemplo`

```sql
-- Create (INSERT): Adicionando um novo produto
INSERT INTO produtos (id, nome, preco, quantidade, data_criacao)
VALUES (1, 'Produto A', 10.99, 100, '2024-04-27');

-- Read (SELECT): Recuperando todos os produtos
SELECT * FROM produtos;

-- Update (UPDATE): Atualizando o preço do Produto A
UPDATE produtos
SET preco = 12.99
WHERE id = 1;

-- Delete (DELETE): Excluindo o Produto A
DELETE FROM produtos
WHERE id = 1;
```


| Comando SQL          | Descrição                                          |
|----------------------|----------------------------------------------------|
| SELECT * FROM tabela | Seleciona todas as colunas da tabela especificada  |
| SELECT col1, col2    | Seleciona colunas específicas da tabela           |
| FROM tabela          | Especifica a tabela da qual os dados serão obtidos|
| WHERE condição       | Filtra as linhas que satisfazem a condição         |
| INSERT INTO tabela   | Insere uma nova linha na tabela especificada       |
| VALUES (val1, val2) | Especifica os valores a serem inseridos            |
| UPDATE tabela        | Atualiza os dados na tabela especificada           |
| SET col = valor      | Define os valores a serem atualizados              |
| DELETE FROM tabela   | Exclui linhas da tabela especificada               |
| WHERE condição       | Especifica as linhas a serem excluídas             |

# ***comando criação tabela***

Essa tabela lista os comandos SQL básicos para criar uma nova tabela em um banco de dados relacional, incluindo a definição de colunas, chaves primárias e 
estrangeiras, restrições de nulos e únicos, valores padrão e verificações de condições.
```sql
    CREATE TABLE produtos (
    id INT PRIMARY KEY,
    nome VARCHAR(100) NOT NULL,
    preco DECIMAL(10,2) NOT NULL,
    quantidade INT DEFAULT 0,
    data_criacao DATE DEFAULT CURRENT_DATE
    );
```


| Comando SQL                                 | Descrição                                              |
|---------------------------------------------|--------------------------------------------------------|
| CREATE TABLE nome_tabela                    | Cria uma nova tabela com o nome especificado           |
| ( coluna1 tipo1, coluna2 tipo2, ...)       | Define as colunas da tabela e seus tipos de dados     |
| PRIMARY KEY (coluna)                        | Define uma chave primária para a tabela                |
| FOREIGN KEY (coluna) REFERENCES outra_tabela(coluna) | Define uma chave estrangeira para a tabela       |
| NOT NULL                                    | Indica que a coluna não pode conter valores nulos      |
| UNIQUE                                      | Garante que todos os valores em uma coluna sejam únicos|
| DEFAULT valor_padrao                        | Especifica um valor padrão para uma coluna             |
| CHECK (condição)                            | Impõe uma condição para os valores em uma coluna       |